In [86]:
import urllib.request as url
import pandas as pd
from geopy.distance import vincenty
LAT = 40.7829
LON = 73.9654
source = (LAT,LON)

In [87]:
table_data = pd.read_csv('open_table_data_final.csv',encoding = "ISO-8859-1")
len(table_data)

595

In [88]:
table_data[:5]["lat"]

0    40.745962
1    40.745394
2    40.751123
3    40.748476
4    40.748698
Name: lat, dtype: float64

In [89]:
table_data[:5]["lng"]

0   -73.988622
1   -73.989588
2   -74.002069
3   -74.003339
4   -74.003228
Name: lng, dtype: float64

In [90]:
distance = []
for i in range(len(table_data)):
    lng_dest = table_data.at[i,"lng"] *-1
    lat_dest = table_data.at[i,"lat"]
    dest = (lat_dest,lng_dest)
    distance.append(vincenty(source, dest).miles)
table_data = table_data.assign(dist = distance)

In [103]:
#table_data[:5]
table_data.sort_values(by=['price','dist'], ascending=[True,True])[1:5]

,id,name,address,city,state,area,postal_code,country,phone,lat,lng,price,reserve_url,mobile_reserve_url,image_url,dist
447,6422,Bella Luna - NYC,584 Columbus Avenue,New York,NY,New York / Tri-State Area,10024,US,2128772267,40.787933,-73.971106,2,http://www.opentable.com/single.aspx?rid=6422,http://mobile.opentable.com/opentable/?restId=...,https://www.opentable.com/img/restimages/6422.jpg,0.458448
468,52687,Gazala's,380 Columbus Avenue,New York,NY,New York / Tri-State Area,10024,US,2128738880,40.781588,-73.976153,2,http://www.opentable.com/single.aspx?rid=52687,http://mobile.opentable.com/opentable/?restId=...,https://www.opentable.com/img/restimages/52687...,0.571224
488,57502,Elizabeth's Neighborhood Table,680 Columbus Ave,New York,NY,New York / Tri-State Area,10025,US,2122806500,40.791033,-73.968943,2,http://www.opentable.com/single.aspx?rid=57502,http://mobile.opentable.com/opentable/?restId=...,https://www.opentable.com/img/restimages/57502...,0.591166
489,6552,Gabriela's,688 Columbus Avenue,New York,NY,New York / Tri-State Area,10025,US,2129619600x,40.791271,-73.968674,2,http://www.opentable.com/single.aspx?rid=6552,http://mobile.opentable.com/opentable/?restId=...,https://www.opentable.com/img/restimages/6552.jpg,0.602608